doctype html 
html 
    head 
         style 
           include ../static/style.css
    body  
        nav#navbar 
            ul  
                div#logo 
                    img(src="/static/img/logo.png")
                    |SDA 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Class Information]
                li #[a(href="/") Services]
                li #[a(href="/") Contact Us]
        section#introSection
            div Welcome to Sams's Dance Academy! 
            div.small Eat Dance Sleep Repeat
        section#missionSection 
            h2 Our Mission
            div.card 
                 h4 Dance Perfection
                 div.card-box
                    div.card-img 
                             img(src="/static/img/1.png")
                    div.card-content 
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, aliquid! 
            div.card 
                 h4 Dance the way you like
                 div.card-box
                    div.card-img 
                             img(src="/static/img/2.png")
                    div.card-content 
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, aliquid!
            div.card 
                 h4 Expert Teaching
                 div.card-box
                    div.card-img 
                             img(src="/static/img/3.png")
                    div.card-content 
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, aliquid!
        section#sponserSection
            h2 Our Sponsers 
            div#sponsers 
                 img(src="/static/img/microsoft.png",alt="Microsoft",class="spImages")
                 img(src="/static/img/facebook.png",alt="Facebook",class="spImages")
                 img(src="/static/img/apple.png",alt="Apple",class="spImages")
        footer#footer 
            |&copy; MD AS SAMS ISLAM | 2022 | All rights reserved
        
        
        script 
          include ../static/index.js  